<div class='container'>

	<div class='row'>
		
		<h2>Contact</h2>
		
		<div class='col-md-2'></div>
		<div class='col-md-8'>

			<br/><br/>
			
			<form>
				<div class='form-group form-group'>
					<label for='email' class=''>Email</label>
					{{input type='email' value=email class='form-control' id='email' placeholder='Email'}}
				</div>
				<br/>
				<div class='form-group form-group'>
					<label for='message'>Message</label>
					{{textarea value=message class='form-control' rows="7" id='message' placeholder='Message'}}
				</div>
				<br/>
				<button class='btn btn-primary btn-default pull-right' disabled={{isDisabled}} {{action 'saveMessage'}}>Send</button>
			</form>

		</div>
	</div>

	<br/>

	{{#if responseMessage}}
		<div class='alert alert-success'>{{responseMessage}}</div>
	{{/if}}
</div>

{{outlet}}